<h1 class="center">Resultado</h1>

<div class="row">
  <div class="col-md-offset-4 col-md-4 fighter">
    <div class="card">
      <h5 class="card-header">
       Campeão
      </h5>
      <div class="card-body">
        <b>{{_firstPlace}}</b>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-4 col-md-4 fighter">
    <div class="card">
      <h5 class="card-header">
        Segundo
      </h5>
      <div class="card-body">
        <b>{{_secondPlace}}</b>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-4 col-md-4  fighter">
    <div class="card">
      <h5 class="card-header">
        Terceiro
      </h5>
      <div class="card-body">
        <b>{{_thirdPlace}}</b>
      </div>
    </div>
  </div>
</div>
