/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.center{
    text-align:center; 
}

.fighter{
    margin: 20px 0 0 0;
}

.col-md-offset-4 {
  margin-left: 33.33333333%;
}
