<h1 class="center">Torneio de Luta</h1>
<p><button class="btn btn-primary" [disabled]="fighterSelection.length < 20" (click)="start()">Iniciar</button></p>
<span class="label label-info" *ngIf="!fighters">Loading...</span>
<div class="row" *ngIf="fighters">
  <div class="col-md-4 fighter" *ngFor="let fighter of fighters; index as i">
    <div class="card"> 
      <h5 class="card-header">
        <div class="form-check form-check-inline">  
          <input class="form-check-input" type="checkbox" id="checkbox{{i}}" value="fighter" (click)="select(fighter, i )" />
        </div>{{fighter.nome}} 
      </h5>
      <div class="card-body">
        <b>Idade</b>: {{fighter.idade}} <br />
        <b>Lutas</b>: {{fighter.lutas}} <br />
        <b>Derrotas</b>: {{fighter.derrotas}} <br />
        <b>Vitórias</b>: {{fighter.vitorias}} <br />
        <b>Artes Marciais</b>: {{fighter.artesMarciais.length}} <br />
      </div>
    </div>
  </div>
</div>
